<div class="search">
    <img src="/static/index/image/logo.png" />

</div>

<div class="nav-bar-header">
    <div class="nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <span class="item">全部分类</span>
                <div class="left-menu">
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">种类1</a></dt>
                                <dd><a href="" target="_top" class="">商品1</a></dd>
                                <dd><a href="" target="_top" class="">商品2</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a class="hot">精选商品</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">种类2</a></dt>
                                <dd><a href="" target="_top" class="">商品1</a></dd>
                                <dd><a href="" target="_top" class="">商品2</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">种类3</a></dt>
                                <dd><a href="" target="_top" class="">商品1</a></dd>
                                <dd><a href="" target="_top" class="">商品2</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                  <h3>热销商品</h3>
                                    <ul>
                                        <li><a class="hot">精选商品</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                  <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">种类4</a></dt>
                                <dd><a href="" target="_top" class="">商品1</a></dd>
                                <dd><a href="" target="_top" class="">商品2</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">种类5</a></dt>
                                <dd><a href="" target="_top" class="">商品1</a></dd>
                                <dd><a href="" target="_top" class="">商品2</a></dd>
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix no-top-border">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>
                                <div class="section-item clearfix">
                                    <h3>热销商品</h3>
                                    <ul>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                        <li><a>精选品牌</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item"><a class="item first active">首页</a></li>
            <li class="nav-item"><a class="item">优惠</a></li>
            <li class="nav-item"><a class="item">商户</a></li>
        </ul>
    </div>
</div>
